body        {color: #666;
            font-family: 'メイリオ',
            'Hiragino Kaku Gothic Pro',
            sans-serif;
            text-align: center;}

.preview    {margin: 40px;}

.fillet     {border-radius: 20px;}
